@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: 'Outfit', sans-serif;
  --font-sans: 'Outfit', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-base-100 text-base-content antialiased;
}
